/* styles */
.strong {
	font-weight: bold;
}


.buttonRow {
	text-align: center;
	margin: 10px 0 25px;
}

.frontsList {
	padding: 0;
	padding-left: 5px;
}

.frontsList li {
	list-style: none;
	border: dotted 2px #ccc;
	height: 50px;
	width: 24.5%;
	float: left;
	margin: 1px;
}

.tab-pane {
	border: solid 1px #ddd;
	border-width: 0 1px 1px;
	margin-bottom: 50px;
	border-radius: 0 4px 4px 4px;
	padding: 10px;
}

.assetPane {
	max-height: 500px;
	width: 300px;
	overflow: auto;
	position: fixed;
}

.assetPane ul {
	margin: 0;
	padding: 0;
}

.assetPane li {
	margin: 0;
	padding: 5px;
	border-bottom: solid 1px #ddd;
	list-style: none;
}


.assetList .assetThumbnail {
	height:40px;
	width:40px;
}
.thumbNail {
	height:32px;
	width:32px;
}


.assetList .assetThumbnail > div {
	height:32px;
	width:32px;
}
