/** Drag Drop **/

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}


.drag-over-top {
    border-top-color: #11afe0 !important;
    background-color: rgb(240,240,240) !important;
    /*padding-top: 3px !important;*/
}

.drag-over-bottom {
    border-bottom-color:#11afe0 !important;
    background-color: rgb(240,240,240) !important;
    /*padding-bottom: 3px !important;*/
}

/**tobe: Removed after fixing equalHeightColumn.js Directive*/
.assetHolder {
    min-height: 513px;
    padding-bottom: 150px;
 }